# Manipulating,Querying,Defining and Controlling RDBMS with Python
> Using the Python to effect SQL Statement
- branch:master
- badges:true
- comments:false
- categories: [jupyter]

## Introduction

I have heard, read, and even admonished that ones training is incomplete without the mastery of SQL(sequel), the ubiquitous database language as a burgeoning data scientist. As much as I share the veracity of the ubiquitousness of SQL and the need to master it, I have equally had my share of frustration and "obstacles" in my attempt at understanding this language.

I suspect you would be curious to know the frustration I'm talking about. In my opinion, the most prominent is the environment, yes, setting up the environment for learning, practising and writing SQL statements. From the last time I checked, you must go through the maze of downloading and installing a database engine, and for your information, you must equally consider the type of database as there are several.

I have encountered the ORACLE database, SQLite, MySQL, MS SQL server as I learn SQL and database in general. However, the most interesting thing is that these databases can be fairly manipulated controlled and queried with just a single language: SQL.Howbeit with slight variation depending on the type of database. Thus learning and mastering the SQL language can not be overemphasized.

Therefore my joy and excitement knew no bounds when I recently discovered that I could write SQL statements to control, manipulate, define and query a database with my python language! Of course, this discovery drastically changed my perception of learning SQL. It became an experience I enjoyed rather than endured. Thus, this post summarises how python can write SQL statements and control databases, especially the SQLite database.

## RDBMS and SQL

Relation Database Management System-RDBMS is a software use to manage data on physical hard disk built based on Codd's relational model. Its structure in three forms:

- Storage Engine
- Query Engine
- Log Management

### Structure of RDBMS

#### Storage engine

Is that part of the RDBMS responsible for storing data and retrieving data in an efficient way.

#### Query engine
This is that part of RDBMS responsible for creating, manipulating and querying data objects. Some functions carried out under here are:

- create and delete columns
- create ,delete, update rows e.t.c

#### Log management
This part creates and maintain the logs

## SQL
Is a domain-specific language originally designed based on E.F. Codd's relational model which is widely used in today's databases to define,insert,manipulate and retrieve data from them.
It can be sub-divided as follows:

- Data Definition Language(DDL)
- Data Manipulation Language(DML)
- Data Query Language(DQL)
- Data Control Language(DCL)

### DDL

This is where we define our data structure in SQL. Some DDL statements are:

- CREATE TABLE
- DROP TABLE
- ALTER TABLE

### DML
This the part of SQL that enable us to insert, delete or update a certain data point(a row) in a previously defined data object(a table)
It has statements like:

- INSERT INTO
- DELETE FROM
- UPDATE

### DQL
This part of SQL enable us to query the data created with DDL ,inserted using DML.
Under here we also encounter some terms like foreign keys, primary key, index joins e.t.c
Its common statement is:

- SELECT

## Relationships in RDBMS
There are one or more columns in a table that will have unique values for each row. This is called `primary key`. However  a primary key of a table can be referenced in another table to create a relationship.This columns of reference is called foreign key.
Relationship can be:

- 1:1 each row of the second table is uniquely related to one row of the first table
- 1:N
- 1:M

## Using RDBMS- MySQL/PostgreSQL/SQLite

- write some SQL statements
- Connect to SQLite Database with python

### Ex 8.01 Connecting to a Database in SQLite

In [1]:
import sqlite3

In [2]:
#use the connection function to connect
conn = sqlite3.connect('./lesson.db')

In [3]:
#close the connection
conn.close()

In [4]:
# using the with statement
with sqlite3.connect('./lesson.db') as conn:
    pass

### Ex 8.02 Using DDL and DML Commands in SQLite

In [5]:
cursor = conn.cursor()

In [6]:
#create a table using python
cursor.execute("CREATE TABLE IF NOT EXISTS user(email text, first_name text, last_name text, address text,\
age integer,PRIMARY KEY(email))")


#insert rows into the database:
cursor.execute("INSERT INTO user VALUES ('bob@example.com','Bob', 'Codd','123 Fantansy Lane, Fantasy City',31)")

cursor.execute("INSERT INTO user VALUES ('tom@web.com','Tom','Fake','456 Fantasy Lane, Fantasy City',39)")

#read data from database
rows = cursor.execute('SELECT * FROM user')
for row in rows:
    print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantansy Lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasy City', 39)

### Reading Data from a Database in SQLite

- `SELECT` statement is powerful and useful here
- `SELECT *` this literally tells the engine to select all columns
- `LIMIT` This is use to limit the number of rows to be displayed - (SELECT * FROM  <tablename> LIMIT 50;)

In [7]:
# with sqlite3.connect('./lesson.db') as conn:
#     cursor = conn.cursor()
#     rows = cursor.execute('SELECT * FROM user')
#     for row in rows:
#         print(row)

rows = cursor.execute('SELECT * FROM user')
for row in rows:
    print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantansy Lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasy City', 39)

### Ex 8.03 Sorting Values That Are Present in the Database

- Using `ORFER BY` Statement

In [8]:
rows = cursor.execute("SELECT * FROM user ORDER BY age DESC")
for row in rows:
    print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasy City', 39)
('bob@example.com', 'Bob', 'Codd', '123 Fantansy Lane, Fantasy City', 31)

In [9]:
# sort by age in ascending order
rows_asc = cursor.execute("SELECT * FROM user ORDER BY age")
for row in rows_asc:
    print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantansy Lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasy City', 39)

## The ALTER Command

- Use to add new columns to an already existing table

- However `UPDATE` on the other hand is used to update the value of one or more columns in one or several rows of database

### Ex 8.04 Altering the Structure of a table and Updating the New Fields

In [10]:
#add another column in the table and fill it with "null"

cursor.execute("ALTER TABLE user ADD COLUMN gender text")
conn.commit()

In [11]:
#Uodate all of the values of gender so that they are "M"
cursor.execute("UPDATE user SET gender='M'")
conn.commit()

In [12]:
#check the altered table
row_alter = cursor.execute("SELECT * FROM user ORDER BY age")
for row in row_alter:
    print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantansy Lane, Fantasy City', 31, 'M')
('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasy City', 39, 'M')

## GROUP BY Clause

### Ex 8.05 Grouping Values in Tables

In [13]:
with sqlite3.connect('./lesson.db') as conn:
    cursor = conn.cursor()
# add a female user into the table
cursor.execute("INSERT INTO user VALUES('shelly@www.com','Shelly','Milar','123, Ocean View Lane',\
39,'F')")
conn.commit()
cursor = conn.cursor()
rows = cursor.execute("SELECT * FROM user ORDER BY age DESC")
for row in rows:
    print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasy City', 39, 'M')
('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')
('bob@example.com', 'Bob', 'Codd', '123 Fantansy Lane, Fantasy City', 31, 'M')